# Flutter
build/
.dart_tool/
.packages
.pub/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/app/build/
android/.gradle/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Backend
backend/dist/
backend/node_modules/
backend/.env
backend/data/*.db

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Temp
temp/
